* {
    margin: 0;

}

body {
    background-color: rgb(61, 173, 135);

}

#weather-app {
    padding: 1rem;
    background-color: rgb(209, 251, 40);
    width: fit-content;
    margin: 3rem auto auto auto;

}

#weather-container {
    background-color: rgb(94, 6, 176);
    margin: auto;
}

#data-weather {
    display: flex;
    flex-direction: row;

}



.day_data {
    outline: 1px solid rgb(102, 6, 192);
    padding: 20px;
    background-color: blueviolet;
    text-align: center;
    min-width: 150px;



}

#location {
    outline: 1px solid blueviolet;

    padding: 8px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: whitesmoke;
}

.text-weather {
    color: white;
}

.what-day {
    font-size: 1.2rem;
}

#search-city {
    text-align: center;
    background-color: rgb(189, 232, 17);
    padding: 5px;
    font-weight: bold;
    border-radius: 5%;

}