* {
    margin: 0;

}

body {
    background-color: rgb(61, 173, 135);
    text-align: center;
}

#weather-app {
    padding: 1rem;
    background-color: rgb(206, 232, 5);
    width: fit-content;
    margin: 3rem auto auto auto;
}

#weather-container {
    background-color: rgb(160, 95, 96);
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: stretch;
    margin: auto;
}

#data-weather {
    display: flex;
}

.day_data {
    outline: 1px solid black;
    padding: 20px;
    background-color: blueviolet;

}

#location {
    outline: 1px solid black;
}

#search-city {
    background-color: rgb(188, 232, 8);
    padding: 5px;
    font-weight: bold;
    border-radius: 25%;
}